/* artist info */
.info-container{
    display: flex;
    flex-direction: row;
    gap:40px;
    width: 100%;
    justify-content: space-between;
    z-index: 2;

    @media screen and (max-width: 980px){ 
        flex-direction: column;
        align-items: center;
    }
}
.artist-info{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    gap: 12px;
}
.row-top{
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.artist-name{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset:4px;
    font-size: 36px;
    text-wrap: wrap;
    overflow-wrap: anywhere;
    @media screen and (max-width: 720px){ 
        font-size: 24px;
    }
}
.subscribe-btn, .subscribe-btn-red{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;

    background: none;
    border: 1px solid #FE1170;
    border-radius: 8px;

    color:#fff;
    font-family: var(--text-font);
    font-size: 16px;
    padding: 10px 32px;

    transition: all .2s ease;

    @media screen and (max-width: 720px){ 
        padding: 1px 9px;
        width: 50%;
    }
}
.subscribe-btn:hover, .subscribe-btn-red:hover{
    transition: all .2s ease;
    background: rgba(218, 114, 156, 0.493);
}

.subscribe-btn-red {
    background: #FE1170;
}

.artist-info-p{
    height: 100%;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    text-wrap: wrap;
    overflow-wrap: anywhere;

    background-color: #0000004a;
    padding: 24px;
    border-radius: 10px;

    @media screen and (max-width: 720px){ 
        font-size: 12px;
    }
}

.row-md {
    height: 100%;
    margin-top: 12px;
}

.row-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (max-width: 720px){ 
        margin-top: 24px;
    }
}
.left{
    display: flex;
    align-items: center;
    gap:10px;
}
.right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;

    text-decoration: none;
    color:#fff;
}
.right > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

.right > a > p {
    text-decoration: none;
    color:#fff;
}
.right > a > p:hover{
    opacity: 0.7;
}

.artist-img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    width: 100%;
    /* height: auto; */
    border-radius: 19px;
    aspect-ratio: 1/1;

    @media screen and (max-width: 720px){ 
        max-width: 165px;
        max-height: 165px;
        border-radius: 12px;
    }
}

.artist-message-btn {
    padding: 10px 32px;
    border-radius: 8px;
    background-color: #FE1170;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;

    @media screen and (max-width: 720px){ 
        padding: 1px 9px;
        width: 50%;
    }
}

.artist-message-btn:hover {
    transition: all .2s ease;
    background-color: #ff3f8c;
}

.artist-btns {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    @media screen and (max-width: 720px){ 
        width: 100%;
        flex-wrap: nowrap;
    }
}

.artist-status {
    color:#FE1170;
    border: #FE1170 1px solid;
    border-radius: 8px;
    background-color: #0F141D;
    padding: 4px 12px;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.artist-status > img {
    width: 12px;
    height: 12px;
}