.vert-video-info{
    top: 176px;

}

.avatar {
    width: 32px;
    height: 32px;
    
}

.vertplayer-exit-button {
    position: absolute;
    right: 48px;
    height: 48px;
    z-index: 999;
}

.vertvideo-player {
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
}

.placeholder-vert-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

.blog-video-wrapper {
    position: fixed;
    z-index: 400;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.blog-video-wrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

.blog-video {
    position: absolute;
    display: flex;
    /* width: 1220px; */
    justify-content: flex-start;
    align-items: flex-start
}

.vertical-wrapper {
    width: 56.25vh;
    height: 100vh;
    height: 0;
    right: 0;
}

.vertical-wrapper > video {
    position: absolute;
    width: 56.25vh;
    height: 100vh;
    border-radius: 24px;
    object-fit: cover;
    z-index: 402;
    top: 0;
    left: 0;
}

.blog-text {
    width: 56.25vh;
    height: 100vh;
    /* margin-left: 56.25vh; */
    background-color: #0F141D;
    /* border-radius: 24px; */

    display: flex;
    flex-direction: column;
    gap: 24px;

    /* padding: 48px; */
    align-items: flex-end;

}

.blog-text > * {
    border-bottom: #2C323D 1px solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;
}

.blog-close {
    margin-left: 40px;
    margin-top: 40px;
}

.blog-author {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 28px;
    font-style: regular;
    width: 100%;
    cursor: pointer;
    padding-top: 80px;
}

.blog-author > img {
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

.blog-song-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.blog-text > span {
    font-size: 14px;
    font-style: regular;
    text-align: start;
    width: 100%;
}

.blog-text > span > p {
    margin-top: 24px;
    /* background-color: #191E28;
    padding: 24px;
    border-radius: 10px; */
}

.blog-text > h2 {
    text-align: start;
    width: 100%;
}

.blog-fav-icon {
    width: 28px;
    height: 28px;
}

.blog-fav-icon:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.95);
}

.blog-song {
    border: 0px;
    border-radius: 16px;
    
    box-shadow: 0px 4px 24.9px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90.00deg, rgb(104, 107, 113),rgb(23, 28, 37) 100%);

    display: flex;
    justify-content: start;
    gap: 12px;
    align-items: center;
    text-align: start;
    gap: 27px;
    padding: 10px 22px;
    width: 100%;
}

.blog-song > img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
}

.blog-song > span {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.blog-artist-name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.blog-song-name {
    cursor: pointer;
}

.blog-comments {
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60%;

    mask-image: linear-gradient(to top, transparent 0%, black 15%);
    mask-repeat: no-repeat;
    mask-position: center;
}
