.explorer-start-h {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @media screen and (max-width: 720px){ 
        gap: 12px;
    }
}

.explorer-start-h > img{
    width: 48px;
    height: 40px;

    @media screen and (max-width: 720px){ 
        width: 24px;
        height: 20px;
    }
}

.filter-button {
    border-radius: 15px;
    border: 1px solid  #FE1170;
    background: #0F141D;
    padding: 14px 24px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    box-shadow: 0px 0px 18px rgba(254, 17, 112, 0.5);
    transition: all .2s ease-in-out;
    z-index: 2;
}

.filter-button:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.filter-button > img {
    width: 24px;
    height: 24px;
}

.explorer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 72px;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1224px;
    margin-bottom: 40px;
}

.filter-opened {
    color: #FE1170;
    box-shadow: none;
    transform: scale(1.05);
}

.explorer-song-part {
    padding: 16px;
    z-index: 2;
    display: flex;
    gap: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
}

.explorer-button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    max-width: 216px;
    transition: all .2s ease-in-out;

    @media screen and (max-width: 720px) {
        display: none;
    }
}

.explorer-button:hover {
    background-color: rgba(65, 65, 65, 0.25);
    transition: all .2s ease-in-out;
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.song-info > img {
    width: 312px;
    height: 312px;
    border-radius: 15px;
}

.song-info > span {
    font-size: 40px;
    font-weight: 400;
}



