.fall-down-menu {
    border-radius: 20px;
    border: 1px solid #2C323D;
    background: #191E28;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    position: inherit;
    padding: 12px 0;
    right: 50px;
    top: 70px
}

.fall-down-menu-ref, .logout-button {
    width: 100%;
    color: #787885;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    padding: 10px 24px;
}

.logout-button {
    border-top: #2C323D 1px solid;
}

.fall-down-menu-ref:hover, .logout-button:hover {
    background: #222832;
}

.fall-down-menu-option {
    width: 186px;
    padding: 10px 24px;
    color: #787885;
    font-size: 16px;
}

.fall-down-menu-option:hover {
    background-color: #222832;
    cursor: pointer;
}

.message-input-file-delete {
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 100px;
    min-width: 24px;
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    object-fit: fill;
    background-color: rgba(15, 20, 29, 0.8);
    stroke: #FE1170;
}

.message-input-file-delete:hover {
    background-color: rgba(62, 68, 80, 0.8);
    cursor: pointer;
}