.clip-page-wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 1220px;
    margin-bottom: 24px;
}
.video-wrapper{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 100%;
    aspect-ratio: 16 / 9;

    @media screen and (max-width: 720px){ 
        margin-top: 20px;
    }
}
.clip-page-top{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 80px 0 40px 0;
}
.clip-back-btn{
    display: flex;
    color:#787885;
}
.clip-back-btn > img{
    transform: translateY(-8px);
    opacity: .5;
}
.video-player{
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    /* aspect-ratio: 16 / 9; */
    border-radius: 20px;
}


.clip-page-song-name{
    font-size: 40px;
    margin-block: 12px;
    @media screen and (max-width: 720px){ 
        font-size: 24px;
    }
}
.clip-page-author-name{
    font-size: 28px;
    color:#C5C5C5;
    @media screen and (max-width: 720px){ 
        font-size: 16px;
    }
}

.clip-page-wrapper > .comment-page-wrapper{
    margin: 0;
    padding: 0;
}


.clip-hr{
    position: relative;
    height: 1px;
    color: #787885;
    margin-block: 40px;
    border-color: #787885;
    background-color: #787885;
    border-bottom: 1px;
}
.clip-comment-title{
    font-size: 24px;
}

.clip-page-author-wrapper{
    cursor: pointer;
}

.clip-page-author-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    @media screen and (max-width: 720px){ 
        width: 28px;
        height: 28px;
    }
}
.clip-page-author-wrapper{
    display: flex;
    align-items: center;
    gap:10px;
}

.clip-description {
    text-align: start;
    width: 100%;
    max-width: 1220px;
    z-index: 5;
    background-color: #191E28;
    padding: 24px;
    border-radius: 10px;
}