.black-page{
    background-color: #0F141D;
    
}

.featured {
    text-align: start;
    margin-bottom: 80px;
    /* background-color: #0F141D; */

    width: 100%;
    max-width: 1220px;
    /* z-index: 5; */
    
    @media screen and (max-width: 720px){ 
        margin-top: 40px;
    }
}

/* .featured > h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 20px; */
    /* justify-self: start; */
    /* text-align: start;
} */

.new-playlist {
    /* width: 230px;
    height: 230px; */
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.new-playlist:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.98);
}

.search-element {
    display: flex;
    justify-content: space-between;
}

.page-search {
    margin: 0 0;
    display: inline;
}

.sub-h2 {
    color: #FFF;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.playlistskin {
    /* width: 230px;
    height: 230px; */
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}


.labelplaylist {
    color: #C5C5C5;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    text-align: start;
    width: 100%;
}


.featured-nav{
    display: flex;
    border-bottom: 4px solid #191E28;
}

.featured-nav__tab-button{
    cursor: pointer;
    padding-inline: 40px;
    padding-bottom: 20px;
    transform: translateY(4px);

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.featured-nav__tab-button.active{
    border-bottom: 4px solid #FE1170;
    padding-bottom: 16px;
}

.featured-section__title{
    padding: 35px 0 15px 0;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.featured-section{
    margin-bottom: 50px;
}
.featured-section > .playlists{
    margin: 0;
}

.featured-section > .tracks > .track:last-child{
    margin: 0;
}

.featured-title{
    font-weight: 400;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
