.charts-wrapper{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.cw-top-chart{
    display: flex;
}
.cw-bottom-charts{
    display: flex;
    gap:40px;
}

@media screen and (max-width:720px) {
    .cw-bottom-charts{
       flex-direction: column;
    }
}