.messenger {
    height: 100%;
}

.contacts {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 239px;

    overflow-y: scroll;
    max-height: 70%;
    min-height: 0;

    mask-image: linear-gradient(to top, transparent 0%, black 15%);
    mask-repeat: no-repeat;
    mask-position: center;

    @media screen and (max-width: 1300px) and (min-width: 721px){ 
        width: 29.5%;
    }
    @media screen and (max-width: 720px){ 
        width:100%;
        position: relative;
    }
}

.contact {
    display: flex;
    gap: 12px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;

    height: 88px;
    border-bottom: 1px solid #2C323D;
    
    width: 320px;
    cursor: pointer;
    transition: all .1s ease-in-out;

    @media screen and (max-width: 1300px) and (min-width: 721px){ 
        width: 100%;
        padding-right: 16px;
    }
    @media screen and (max-width: 720px){ 
        width: 100%;
    }
}

.contact > img {
    border-radius: 100px;
    width: 48px;
    height: 48px;
}

.contact:hover, .contact-active {
    background-color: #2C323D;
    padding-left: 12px;
    width: 360px;
    padding-right: 40px;
    transition: all .1s ease-in-out;
    @media screen and (max-width: 1300px) and (min-width: 721px){ 
        width: 100%;
        padding-right: 8px;
    }
    @media screen and (max-width: 720px){ 
        width: 100%;
    }
}

.contact-info {
    color: #787885;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 100%;
}

.contact-info > span {
    display: flex;
    justify-content: space-between;
}

.contact-name {
    color: white;
    font-size: 20px;
}

.contact-info > p {
    text-wrap: nowrap;
}

.chat {
    position: absolute;
    width: 860px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    margin-left: 360px;
    background: linear-gradient(0deg, transparent 0%, #191E28 100%);  
    border-left: #2C323D solid 1px;
    border-right: #2C323D solid 1px;

    margin-bottom: 239px;
    gap: 12px;

    color: #787885;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 1300px) and (min-width: 721px){ 
        width: 60%;
        margin-left: 29.5%;
    }
    @media screen and (max-width: 720px){ 
        width:100%;
        position:absolute;
        margin: 0;
        left: 0;
    }
}

.chat-header {
    width: 100%;
    position: absolute;
    top: 78px;
    display: flex;
    gap: 18px;
    align-items: center;
    background: rgba(25, 30, 40, 0.9); 
    backdrop-filter: blur(5px);
    border-bottom: #2C323D solid 1px;
    padding: 18px 48px;
    z-index: 95;

    @media screen and (max-width: 720px){ 
        justify-content: center;
        gap: 8px;
    }
}

.chat-header > a {
    display: none;
    @media screen and (max-width: 720px){ 
        display: flex;
        position: absolute;
        width: 100%;
        margin-left: 16px;

    }
}

.chat-header > img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    @media screen and (max-width: 720px){ 
        width: 32px;
        height: 32px;
    }
}

.chat-container {
    margin-top: 78px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction:column-reverse;
    gap: 12px;
    padding: 0px 40px;
    width: 100%;

    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-style:normal;
    font-weight: 300;
    line-height: normal;

    mask-image: linear-gradient(to top, transparent 0%, black 15%);

    height:80%;
    @media screen and (max-height: 1300px) and (min-height: 1101px){ 
        height:75%;
    }
    @media screen and (max-height: 1100px){ 
        height:68%;
    }
    @media screen and (max-width: 720px){ 
        padding: 0px 16px;;
        height: 70%;
    }
}

.chat-date {
    text-wrap: nowrap;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    color: #787885;
}

.line {
    background: #2C323D;
    height: 1px;
    width: 100%;
}

.opponent-message {
    background: radial-gradient(245.94% 143.59% at 1% 3%,rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0) 100%);

    padding: 12px 20px 12px 20px;
    border-radius: 16px 16px 16px 0px;
    gap: 20px;

    width:fit-content;
    max-width: 85%;

    text-wrap: wrap;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow-wrap: anywhere;
}

.my-message {
    background: #FE1170;
    padding: 12px 20px 12px 20px;
    border-radius: 16px 16px 0px 16px;

    width:fit-content;
    max-width: 85%;
    gap: 20px;

    text-wrap: wrap;
    align-self: flex-end;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow-wrap: anywhere;
}

.opponent-message > p, .my-message > p {
    overflow-wrap:normal;
    font-size: 12px;
    font-weight: 200;
    width: fit-content;
}

.message-input-wrapper {
    width: 100%;
    display: flex;
    gap: 24px;
    padding: 0px 40px 0px 40px;
    margin-bottom: 180px;
    @media screen and (max-width: 720px){ 
        margin-bottom: 0;
    }
}

.opponent-message:first-child, 
.my-message:first-child {
    margin-bottom: 50px;
}

.opponent-message:last-child, 
.my-message:last-child,
.chat-date:last-child {
    margin-top: 104px;
}

.contacts-h {
    color: #787885;
    font-family: Montserrat;
    font-size: 20px;
    font-style:normal;
    font-weight: 300;
    line-height: normal;

    margin-top: 32px;
    margin-bottom: 8px;
    width: 100%;
}

.no-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 320px;
    margin-top: 20px;
    margin-bottom: 100px;

    @media screen and (max-width: 720px){ 
        width: 100%;
    }
}

.no-contacts > p {
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-style:normal;
    font-weight: 300;
    line-height: normal;
}

.no-contacts > span {
    color: #787885;
    font-family: Montserrat;
    font-size: 14px;
    font-style:normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.no-contacts > .search-icon * {
    stroke:#FE1170;
}

.no-contacts > .search-icon{
    width: 48px;
    height: 48px;
}

.search-messenger {
    margin-bottom: 20px;
    width: 320px;
    margin-top: 0px;
    @media screen and (max-width: 1300px) and (min-width: 721px){ 
        width: 100%;
        padding-right: 16px;
    }
    @media screen and (max-width: 720px){ 
        width: 100%;
    }
}

.chat-name {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (max-width: 720px){ 
        font-size: 16px;
        font-weight: 600;
    }
}

.unread {
    background-color: #FE1170;
    font-weight: 500;
    color: white;
    font-size: 10px;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}