.header{
    position: fixed;
    top:0;
    left:0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--header-height);
    background: #0F141D;
    border-bottom: 1px solid #2C323D;

    padding: 0 60px;
    z-index: 100;

    @media screen and (max-width: 720px){ 
        padding: 16px;
    }    
}
.logo_txt{
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.logo_link{
    color:white;
    @media screen and (max-width: 720px){ 
        font-size: 20px;
    }
}

.header_logo{
    display: flex;
    align-items: center;
    gap:17px;
}

.header_pfp{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:8px;
}
.pfp_dropdown-down {
    /* user-select: none;
    color:white; */
    display: flex;
    transform: rotate(90deg);
    transition: all .2s ease;
}
.pfp_dropdown-up {
    /* user-select: none;
    color:white; */
    display: flex;
    transform: rotate(270deg);
    transition: all .2s ease;
}
.pfp_dropdown-down:hover, .pfp_dropdown-up:hover, .pfp_image:hover{
    cursor: pointer;
}
.pfp_image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.unauth-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-ref {
    color: #787885;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 24px;
}

.notification {
    background-color: #FE1170;
    font-size: 10px;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    margin-left: 10px;
}

.notifications {
    margin-right: 12px;
}

.notifications-bell {
    transition: all .2s ease;
}

.notifications-bell:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease;
}

.menu-h {
    font-size: 12px;
    font-weight: 500;
    padding-left: 24px;
    border-bottom: 1px solid #2C323D;
    width: 100%;
    text-align: start;
    padding-bottom: 12px;
}

.menu-text {
    font-size: 12px;
    font-weight: 500;
    padding: 24px;
}

.notification-message {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #2C323D;
    display: flex;
    gap: 8px;
    padding: 12px 0px;
    cursor: pointer;
}

.notification-message:hover {
    transform: scale(1.1);
    transition: all .2s ease;
}

.notification-message > img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    /* border-radius: 100px; */
}

.round-avatar {
    border-radius: 100px;
}

.square-avatar {
    border-radius: 2px;
}

.notification-message-user-name {
    font-size: 10px;
    font-weight: 500;
}

.notification-message-text {
    font-size: 8px;
    color: #787885;
    font-weight: 400;
}

.notification-message > span {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.notification-messages {
    width: 100%;
    padding: 0 24px;
    max-height: 120px;
    overflow-y: scroll;
}