.video-player-wrapper {
    position: fixed;
    /* left: 0;
    top: 0; */
    z-index: 998;
    width: 100%;
    height: 100%;
}

.player-exit-button {
    position: absolute;
    right: 48px;
    top: 48px;
    z-index: 999;
}

.player-exit-button:hover {
    color: #FE1170;
    cursor: pointer;
}

.rising-notes-forplayer {
    position: absolute;
    left: 48px;
    top: 48px;
    z-index: 999;
}