.player-queue {
    position:fixed;
    z-index: 40;
    width: 100%;
    margin: 0;
    padding-top: var(--header-height);
    padding-left: 60px;
    padding-right: 60px;

    transition: all 250ms ease-in;
    
    background-color: #0F141D;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;

    @media screen and (max-width: 720px){ 
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.queue-name {
    color: #FFF;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    margin-bottom: 30px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.queue-name > p {
    color: #FE1170;
    @media screen and (max-width: 720px){ 
        font-size: 24px;
    }
}

.invisible {
    padding-top: 100px;
    opacity: 0%;

    transition: all 250ms ease-in;
    animation: complexAnim 1s ease-in forwards;
}

@keyframes complexAnim {
    0%, 33% { }
    34%, 66% { }
    67%, 100% { z-index: -20; }
  }

.scroll-tracks {
    overflow-y: scroll;
    max-height: 600px;
    min-height: 0;

    mask-image: linear-gradient(to top, transparent 0%, black 15%);
    mask-repeat: no-repeat;
    mask-position: center;

    @media screen and (max-height: 1300px) and (min-height: 1061px){ 
        max-height: 550px;
    }
    @media screen and (max-height: 1060px){ 
        max-height: 450px;
    }
    @media screen and (max-height: 720px){ 
        max-height: 300px;
    }
}