.player-queue {
    position:fixed;
    z-index: 40;
    width: 100%;
    margin: 0;
    padding-top: var(--header-height);
    padding-left: 60px;
    padding-right: 60px;

    transition: all 250ms ease-in;
    
    background-color: #0F141D;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;

    @media screen and (max-width: 720px){ 
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.queue-name {
    color: #FFF;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    margin-bottom: 30px;

    display: flex;
    gap: 10px;
}

.queue-name > p {
    color: #FE1170;
}

.invisible {
    padding-top: 100px;
    opacity: 0%;

    transition: all 250ms ease-in;
    animation: complexAnim 1s ease-in forwards;
}

@keyframes complexAnim {
    0%, 33% { }
    34%, 66% { }
    67%, 100% { z-index: -20; }
  }