.clips{
    display: flex;
    flex-wrap: wrap;
    gap:3.5%;
}
.clip-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap:24px;
    width: 31%;
    position: relative;

    @media screen and (max-width: 720px){ 
        width: 100%;
    }
}
.clip-cover{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 24px;
    user-select: none;
    @media screen and (max-width: 720px){ 
        width: 100%;
        max-width: 100%;
    }
}
.cover-wrapper{
    position: relative;
}
.clip-duration{
    position: absolute;
    bottom:16px;
    right: 25px;
    color:#fff;
    font-size: 16px;
}
.clip-song{
    display: flex;
    align-items: flex-start;
    gap:16px;
    height: 50px;
}
.song-img-placeholder{
    min-width: 50px;
    max-width: 50px;
    width: 100%;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.song-img-placeholder > img{
    width: 100%;
}

.song-img-placeholder:hover{
    cursor: pointer;
}

.song-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}
.clip-song-name{
    font-weight: 400;
    font-size: 18px;

    @media screen and (max-width: 720px){ 
    }
}
.clip-song-author > a{
    font-weight: 200;
    font-size: 16px;
    color:#fff;

    @media screen and (max-width: 720px){ 
    }
}
.clip-song-author > a:hover{
    text-decoration: underline;
}
.clip-artist-info {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 24px;
}

.clip-views {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    @media screen and (max-width: 1100px){ 
        font-size: 12px;
    }
}

.clip-video{
    width: 100%;
    border-radius: 24px;
    aspect-ratio: 16/9;
    background-color: #000;
    overflow:hidden;
}

.clip-video:hover{
    cursor: pointer;
}
.clip-cover{
    user-select: none;
    pointer-events: none;
    width: 100%;
    position: absolute;

    transition: opacity 150ms ease-in-out;
}
.clip-cover.preview-hover{
    opacity: 0;
}
.clip-video{
    width: 100%;
}

.delete-popup{
    background: linear-gradient(119deg, rgba(25,30,40,1) 100%, rgba(180,180,180,0.7) 100%, rgba(15,20,29,0.5) 100%); 
    padding: 15px;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 10px;
    gap:10px;
    z-index: 5;
    animation: popup-animation .2s linear normal ;
}

@keyframes popup-animation {
    0% {
        display: block;
        opacity: 0%;
        margin-top: 10px;
    }
    100% {
        opacity: 100%;
        margin-top: 0;
    }
}

.hidden-popup {
    display: none;
    opacity: 0;
}

.delete-popup > p{
    font-size: 16px;
    margin-bottom: 10px;
}
.delete-popup > .popup-actions{
    display: flex;
    gap:10px;
}
.delete-popup > .popup-actions > button{
    border: 1px solid #FE1170;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    font-size: 16px;
    transition: 250ms ease-in-out;
    display: flex;
    align-items: center;
    gap:5px;
}

.delete-popup > .popup-actions > button:hover{
    background-color: #FE1170;
    cursor: pointer;
}

.delete-popup > .popup-actions > button.primary{
    background-color: #FE1170;
    padding: 5px 10px;
}