.custom-controls{
    /* display: none; */
    opacity: 0;
    position: absolute;
    width: 100%;
    height: max-content;
    left: 0;
    bottom: 105px;
    padding: 25px;

    background: rgb(2,0,36);
    background: -moz-linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(11,14,31,0.5074230375744048) 50%, rgba(15,20,29,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(11,14,31,0.5074230375744048) 50%, rgba(15,20,29,1) 100%);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(11,14,31,0.5074230375744048) 50%, rgba(15,20,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0f141d",GradientType=1);

    transition: all .3s ease-in-out;

    @media screen and (max-width: 720px){ 
        bottom: 78px;
    }
}

.custom-controls:hover {
    opacity: 100%;
    transition: all .3s ease-in-out;
}

.cc-fullscreen,
.cc-settings{
    bottom: 0;
    transform: translateY(2px);
}

.controls-wrapper{
    display: flex;
    justify-content: space-between;
}
.controls-group-wrapper{
    display: flex;
    align-items: center;
    gap:25px;
}
.group-wide{
    gap:47px;
}

.video-wrapper:hover > .custom-controls{
    display: flex;
    flex-direction: column;
}

.cc-play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FE1170;
}

.cc-play > img{
    transform: translateY(2px);
}

.cc-volume-changer{
    position: relative;
    display: flex;
    align-items: center;
    gap:15px
}

.cc-volume-input{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 2px;
    background: rgba(255,255,255,.5);
}

.cc-volume-input::-webkit-slider-thumb,
.cc-time-input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #FE1170; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: none;
    border-radius: 50px;
}

.cc-volume-input::-moz-range-thumb,
.cc-time-input::-moz-range-thumb {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #FE1170; /* Green background */
    border-radius: 50px;
    cursor: pointer; /* Cursor on hover */
    border: none;
}

.volume-input-track{
    position: absolute;
    top:0;
    left:0;
    height: 2px;
    background-color: #FE1170;
    user-select: none;
    pointer-events: none;
}

.cc-volume-icon{
    position: absolute;
    left: -33px;
}

.time-tracker{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 25px;
}
.time-track{
    position: relative;
    width: 95%;
    display: flex;
}
.cc-time-input{
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 2px;
    background: rgba(255,255,255,.5);
}

.current-time,
.max-time{
    font-size: 14px;
    width: 2.5%;
}

.video-time-track{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FE1170;
}

.cc-settings-popup{
    display: none;
    position: absolute;
    width: 320px;
    min-height: 160px ;

    bottom:60px;
    right: 60%;

    border-radius: 15px;

    background-color: #191E28;
}

.cc-s-p-visible{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.cc-s-top{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-bottom: 1px solid #2C323D;
}
.cc-s-top > span{
    margin-left: 24px;
}
.cc-s-top > button{
    margin-right: 24px;
}

.cc-s-option{
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 16px;
    color:#787885;
    width: 100%;
    padding-block: 10px;
    padding-inline: 24px;
}
.cc-s-option:hover,
.q-el:hover,
.cc-s-top-wrapper:hover,
.cc-s-top:hover{
    cursor: pointer;
    background: #222832;
}
.cc-s-top:hover{
    border-radius: 15px 15px 0 0;
}

.cc-s-o-last{
    margin-bottom: 24px;
}

.setting-control-group{
    position: relative;
}

.cc-s-top-wrapper{
    display: flex;
    align-items: center;
    gap:10px;
    margin-left: 24px;
}

.quality-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.q-el{
    font-size: 16px;
    display: flex;
    width: 100%;
    padding-block: 10px;
    color:#787885;
    padding-left: 48px;
}

.q-el-active{
    display: flex;
    align-items: center;
    gap:10px;
    color: #FE1170;
    padding-left: 15px;
    padding-block: 7.5px;
}


/* LOADER */
.video-page-loader{
    position: absolute;
    width: 100%;
    height: 100%;
}