.MuiPieArc-root{
    stroke:none !important;
}
.audience-page-top-row{
    display: flex;
    gap:40px;
}
.pie-chart-wrapper{
    background-color: #191E28;
    border: 1px solid #2C323D;
    border-radius: 40px;
    width: 100%;
    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pie-chart-wrapper > h2{
    margin-top: 32px;
    width: 100%;
    font-size: 24px;
    padding-inline: 40px;
}

.pie-legend{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.legend-row{
    display: flex;
    align-items: center;
    gap:8px;
}
.legend-label{
    width: 28px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.legend-line{
    width: 100%;
    color: transparent;
}